.title{
        padding: 28px;
      }
      #titletext1{
        color:  #2E6A75;
        font-size: 67px;
      }
      #titletext2{
        color: #44403F;
        padding-top: 26px;
      }
