span{
  font-weight: bold;
}
.special{
  margin-top: -77px;
  padding: 60px;

  }
.special2{
  margin-top: -97px;
  padding: 60px;
    }
    #text4{
        color: #FFFFFF;
        padding: 4px
    }
    #text5{
        color: #FFFFFF;
        font-weight: bold;
        letter-spacing: 9px;
    }
